<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			@import url(https://fonts.googleapis.com/css?family=Roboto:300);
			.login-section {
			    height: 90vh;
			}
			.login-page {
			  width: 360px;
			  padding: 8% 0 0;
			  margin: auto;
			}
			.login-page .form {
			  position: relative;
			  z-index: 1;
			  background: #FFFFFF;
			  max-width: 360px;
			  margin: 0 auto 100px;
			  padding: 45px;
			  text-align: center;
			  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
			}
			.login-page .form input {
			  font-family: "Roboto", sans-serif;
			  outline: 0;
			  background: #f2f2f2;
			  width: 100%;
			  border: 0;
			  margin: 0 0 15px;
			  padding: 15px;
			  box-sizing: border-box;
			  font-size: 14px;
			}
			.login-page .form button {
			  font-family: "Roboto", sans-serif;
			  text-transform: uppercase;
			  outline: 0;
			  background: #f16a20;
			  width: 100%;
			  border: 0;
			  padding: 15px;
			  color: #FFFFFF;
			  font-size: 14px;
			  -webkit-transition: all 0.3 ease;
			  transition: all 0.3 ease;
			  cursor: pointer;
			}
			.login-page .form button:hover,.login-page .form button:active,.login-page .form button:focus {
			  background: #CC5818;
			}
			.login-page .form .message {
			  margin: 15px 0 0;
			  color: #b3b3b3;
			  font-size: 12px;
			}
			.login-page .form .message a {
			  color: #CC5818;
			  text-decoration: none;
			}
			.login-page .form .register-form {
			  display: none;
			}		
		</style>
	</head>
	<body>
	    <div class="bg-light w-100 login-section">
    		<div class="login-page">
    		  <div class="form">
    		    <form class="register-form">
    		      <input type="text" placeholder="name"/>
    		      <input type="password" placeholder="password"/>
    		      <input type="text" placeholder="email address"/>
    		      <button>create</button>
    		      <p class="message">Already registered? <a href="#">Sign In</a></p>
    		    </form>
    		    <form class="login-form">
    		      <input type="text" placeholder="username"/>
    		      <input type="password" placeholder="password"/>
    		      <button>login</button>
    		      <p class="message">Not registered? <a href="#">Create an account</a></p>
    		    </form>
    		  </div>
    		</div>
		</div>
	</body>
</html>

