<div class="container">
    <div class="py-3 text-center">
        <a href="#"><span class="main-font tag-recommend mr-3">#인기태그</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">블록체인</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">비트코인</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">이더</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">캐시</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">개강</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">포토샵</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">파이썬</span></a>
        <a href="#"><span class="main-font tag-recommend mx-1">솔리디티</span></a>
    </div>
    <div class="text-center">
        <a href="#">
            <span class="main-font tag-more">더보기</span>
        </a>
    </div>
    <div class="mt-5 mb-5">
        <h1 class="mb-4 text-font article-list-text" style="font-weight:700;">당신의 재능을 기부해 주세요.</h1>
        <p class="mb-4 text-font article-list-subtext" style="font-weight:300;">당신의 재능과 지식으로 작성된 글이 누군가에게는 꿈의 시작이 될 수도 있습니다. 당신의 글을 읽는 독자들과 함께 성장해 나가보세요. 그느르다는 당신의 재능기부를 응원합니다.</p>
        <a href="#" class="btn gnrda btn-write">글쓰기</a>
        <a href="#" class="btn gnrda btn-light">더 알아보기</a>
    </div>
    <div class="card my-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2 py-4">
                    <a class="ml-4" href="#"><img class="img-valign" src="https://libereurope.eu/wp-content/uploads/2017/06/person-placeholder-5.png" style="width:25px; height:25px;"></img></a>
                    <a href="#"><span class="mx-1" style="font-size:20px;">name</span></a>
                    <span class="mr-4 float-right">#개강 #시작</span>
                    <a href="#"><h1 class="ml-4 py-4 preview-title">이제 곧 개강 어떤 마음으로 시작을 해야 할까?</h1></a>
                    <span class="mx-2"><i class="ml-3 far fa-thumbs-up fa-lg mr-1"></i>좋아요 15개</span>
                    <span class="mx-2"><i class="far fa-clock fa-lg mr-1"></i>3시간 전</span>
                    <span class="mx-2"><i class="far fa-comment fa-lg mr-1"></i>12개</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2 py-4">
                    <a class="ml-4" href="#"><img class="img-valign" src="https://libereurope.eu/wp-content/uploads/2017/06/person-placeholder-5.png" style="width:25px; height:25px;"></img></a>
                    <a href="#"><span class="mx-1" style="font-size:20px;">name</span></a>
                    <span class="mr-4 float-right">#개강 #시작</span>
                    <a href="#"><h1 class="ml-4 py-4 preview-title">이제 곧 개강 어떤 마음으로 시작을 해야 할까?</h1></a>
                    <span class="mx-2"><i class="ml-3 far fa-thumbs-up fa-lg mr-1"></i>좋아요 15개</span>
                    <span class="mx-2"><i class="far fa-clock fa-lg mr-1"></i>3시간 전</span>
                    <span class="mx-2"><i class="far fa-comment fa-lg mr-1"></i>12개</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2 py-4">
                    <a class="ml-4" href="#"><img class="img-valign" src="https://libereurope.eu/wp-content/uploads/2017/06/person-placeholder-5.png" style="width:25px; height:25px;"></img></a>
                    <a href="#"><span class="mx-1" style="font-size:20px;">name</span></a>
                    <span class="mr-4 float-right">#개강 #시작</span>
                    <a href="#"><h1 class="ml-4 py-4 preview-title">이제 곧 개강 어떤 마음으로 시작을 해야 할까?</h1></a>
                    <span class="mx-2"><i class="ml-3 far fa-thumbs-up fa-lg mr-1"></i>좋아요 15개</span>
                    <span class="mx-2"><i class="far fa-clock fa-lg mr-1"></i>3시간 전</span>
                    <span class="mx-2"><i class="far fa-comment fa-lg mr-1"></i>12개</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2 py-4">
                    <a class="ml-4" href="#"><img class="img-valign" src="https://libereurope.eu/wp-content/uploads/2017/06/person-placeholder-5.png" style="width:25px; height:25px;"></img></a>
                    <a href="#"><span class="mx-1" style="font-size:20px;">name</span></a>
                    <span class="mr-4 float-right">#개강 #시작</span>
                    <a href="#"><h1 class="ml-4 py-4 preview-title">이제 곧 개강 어떤 마음으로 시작을 해야 할까?</h1></a>
                    <span class="mx-2"><i class="ml-3 far fa-thumbs-up fa-lg mr-1"></i>좋아요 15개</span>
                    <span class="mx-2"><i class="far fa-clock fa-lg mr-1"></i>3시간 전</span>
                    <span class="mx-2"><i class="far fa-comment fa-lg mr-1"></i>12개</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="//placehold.it/200" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2 py-4">
                    <a class="ml-4" href="#"><img class="img-valign" src="https://libereurope.eu/wp-content/uploads/2017/06/person-placeholder-5.png" style="width:25px; height:25px;"></img></a>
                    <a href="#"><span class="mx-1" style="font-size:20px;">name</span></a>
                    <span class="mr-4 float-right">#개강 #시작</span>
                    <a href="#"><h1 class="ml-4 py-4 preview-title">이제 곧 개강 어떤 마음으로 시작을 해야 할까?</h1></a>
                    <span class="mx-2"><i class="ml-3 far fa-thumbs-up fa-lg mr-1"></i>좋아요 15개</span>
                    <span class="mx-2"><i class="far fa-clock fa-lg mr-1"></i>3시간 전</span>
                    <span class="mx-2"><i class="far fa-comment fa-lg mr-1"></i>12개</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center"><a href="#" class="btn gnrda btn-light my-5">더보기</a></div>
</div>