<!-- search - start -->
<section id="section-search" class="row bg-light section-search">
    <div class="bg-wrap"></div>
    <div class="position-relative mx-auto d-flex flex-column justify-content-center align-items-center">
        <div class="my-3">
            <img src="/img/gnrda_logo.png" height="120" alt="gnrda-rogo">
        </div>
        <div class="d-flex flex-column">
            <!-- 검색 폼 -->
            <fieldset class="field-container">
              <input type="text" id="search" placeholder="Search..." class="field" />
              <div class="icons-container">
                <i class="fas fa-search"></i>
              </div>
            </fieldset>
            <!-- 태그 -->
            <div class="search-tag border mt-3 d-flex justify-content-center">
                <a href="#"><span class="m-2 border main-font tag-style">태그1</span></a>
                <a href="#"><span class="m-2 border main-font tag-style">태그2</span></a>
                <a href="#"><span class="m-2 border main-font tag-style">태그3</span></a>
            </div>
            <!-- 태그 더보기 -->
            <div class="search-tag-all border mt-5"><a href="#" class="main-font tag-style">더보기</a></div>
        </div>
    </div>
</section>
<!-- search - end -->
<!-- card - start -->
<section id="section-card" class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>드론 날리기</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1504962759427-5271fa99f42b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=767e446eed06b3310e0651d062f5b7f1&auto=format&fit=crop&w=1950&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>지리학</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1495374316456-4d7e380881a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0acd41b71ec9638fd664b159e1c0219f&auto=format&fit=crop&w=1567&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>사진 찍는 방법</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1438109491414-7198515b166b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=92ab46af16c6220167a1df5ed5b401bd&auto=format&fit=crop&w=1950&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>운전 면허</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1515086828834-023d61380316?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e692a3796467a1d3c0f7bab4ef6b5dc4&auto=format&fit=crop&w=1953&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>식물 키우기</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1495908333425-29a1e0918c5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbb469209346a65b980b62860a69fece&auto=format&fit=crop&w=1100&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>주식</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1518515097038-ca19a3777cd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a6e6a1e9b4df15e53b7951af1371e84&auto=format&fit=crop&w=1951&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>휴양지</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1496134732667-ae8d2853a045?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4dd1c9106a69065ccfa21a36cfb53b1&auto=format&fit=crop&w=1950&q=80" class="img-responsive"/>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 center-block p-0">
        <div class="section-box-twelve">
            <!---->
            <figure class="d-flex justify-content-center">
                <a href="#"><h1>공부법</h1></a>
            </figure>
            <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=349f0586d07c10fdf29da504276b5407&auto=format&fit=crop&w=1950&q=80" class="img-responsive"/>
        </div>
    </div>
</section>
<!-- card - end -->
<section id="section-list" class="row section-list">
    <div class="d-flex flex-column w-100">
        <div class="border border-dark m-2 p-3 d-flex flex-sm-row flex-column">
            <img class="list-img" src="https://images.unsplash.com/photo-1526913299589-f35a3ddeb7ae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac720761e33723cc50ce939c1c889d72&auto=format&fit=crop&w=1568&q=80">
            <div class="list-wrap w-100 position-relative">
                <div class="list-title px-3 px-sm-2 py-1 font-weight-bold d-flex align-items-center">
                    <h1>비트코인 채굴하기!</h1>
                </div>
                <div class="list-content px-3 px-sm-2 py-1">
                    <p class="">코인을 만든 사람은 나카모토 사토시라는 인물이다. 이름은 일본 사람인 것 같지만 확실 하지는 않다.오늘은 비트코인을 채굴해 보는 시간을 가질 것 이다. 우선 비트코인을 만든 사람은 나카모토 사토시라는 인물이다. 이름은 일본 사람인 것 같지만 확실 하지는 않다. 코인을 만든 사람은 나카모토 사토시라는 인물이다. 이름은 일본 사람인 것 같지만 확실 하지는 않다.오늘은 비트코인을 채굴해 보는 시간을 가질 것 이다. 우선 비트코인을 만든 사람은 나카모토 사토시라는 인물이다. 이름은 일본 사람인 것 같지만 확실 하지는 않다. 마지막 부분이다.</p>
                </div>
                <div class="list-info px-3 px-sm-2 py-1 d-flex align-items-center">
                    <span class="px-1 py-1"><a href="#">코인조아</a></span>
                    <span class="px-2 py-1"><a href="#"><i class="fas fa-heart"></i></a>&nbsp;100</span>
                    <span class="px-3 py-1 position-absolute">2018.08.10</span>
                </div>
            </div>
        </div>
    </div>
</section>