<div class="row content-wrap border d-flex flex-nowrap">
    <aside class="border my-3 mx-3">
        <div class="sidebar-module p-4">
            <div class="sidebar-content">
                <ul>
                    <li class="sidebar-list-item mb-3">
                        <div class="sidebar-header">
                            <a href="#" class="sidebar-link active">전체 태그</a>
                        </div>
                    </li>
                    <li class="sidebar-list-item mb-3"><a href="#" class="sidebar-link">life</a></li>
                    <li class="sidebar-list-item mb-3"><a href="#" class="sidebar-link">kr</a></li>
                    <li class="sidebar-list-item mb-3"><a href="#" class="sidebar-link">art</a></li>
                    <li class="sidebar-list-item mb-3"><a href="#" class="sidebar-link">travel</a></li>
                    <li class="sidebar-list-item mb-3"><a href="#" class="sidebar-link">food</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <article class="border my-3 py-4 px-5">
        <div class="article-header row">
            <div class="col-6 p-0">
                <h1 class="">추천글: 전체 태그</h1>
            </div>
        </div>
        <hr>
        <div class="posts-list">
            <ul>
                <li>
                   <div class="article-summary">
                       <div class="article-summary-header border">
                           <div class="user d-flex">
                               <div class="user-thumbnail">
                                   <a href="#" class="user-link">
                                       <div class="user-img mr-2" width="24" height="24" style="background-image: url('http://via.placeholder.com/24x24')"></div>
                                   </a>
                               </div>
                               <div class="user-name d-flex align-items-center">
                                   <strong><a href="#">userID</a></strong>
                                   <span class="reputation" title="평판">(60)</span>
                               </div>
                           </div>
                       </div>
                       <div class="article-summary-content border row">
                           <div class="article-summary-content-block-img col-2 border">
                               <a href="#" class="article-link">
                                   <img src='http://via.placeholder.com/150X100' width="100">
                               </a>
                           </div>
                           <div class="article-summary-content-block-content col-10 border">
                               <h2 class="content-title"><a href="#">First Time Ever - Q&A with the Team behind FOMO3D</a></h2>
                               <div class="content-body">
                                   <!-- 내용 삽입 -->
                                   내용내용
                               </div>
                               <div class="content-footer">
                                   <!-- 부가 아이콘들 정렬 -->
                                   아이콘
                               </div>
                           </div>
                       </div>
                   </div> 
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </article>
    <aside class="border my-3 mx-3">cc</aside>
</div>