@import "bootstrap";
@import "common";
@import "navigation";
@import "home";
@import "summernote";   
@import "summernote-bs4";   
@import "summernote-lite";   
@import "editor";
@import "register";
@import "article-list";
@import "view";
@import "mypage";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.logo-section, .bar-section {
    width: 30vh;
}
.nav-section {
    width: 40vh;
}
.nav-top-list-item {
    height: 86px;
}
.nav-top-list-item:hover {
    border-bottom: 3px solid #f16a20;
}
.nav-top-list-item > a {
    font-size: 1.2rem;
    color: #CFD0D2;
}
.nav-top-list-item > a:hover{
    color: #ffffff;
    font-weight: bold;
}
.page-wrap {
    margin-top:85px;
}

// 태블릿 이하
@media (max-width: 767px) {
    .nav-top-list-item > a {
        font-size: 1.0rem;
    }
    .nav-expander {
        margin-right: 15px;
    }
}

// 스마트폰 이하
@media (max-width: 575px) {
    
}
