.tag-more {
    font-size: 12px;
    color: #CFD0D2;
}

.article-list-text {
    font-size: 30px;
}

.article-list-subtext {
    font-size: 20px;
    line-height: 30px;
}

.gnrda.btn-write{
    border-radius: 0;
}

.gnrda.btn-write {
    color: #fff;
    background-color: #9be893;
    border-color: #9be893;
    border-radius: 0;
}
.gnrda.btn-write:hover {
    color: #fff;
    background-color: #75af6e;
    border-color: #75af6e;
    border-radius: 0;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.img-valign {
  vertical-align: middle;
}

.preview-title {
    font-size: 25px;
    font-weight: 700;
}