<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- nav layout -->
<!-- nav sidebar -->
<nav class="main-nav">
	<a href="#" class="close"><i class="fas fa-times"></i></a>
	<img class="logo" src="http://via.placeholder.com/75x75" alt="">
	<h2 class="mt-4 mb-3">그느르다</h2>
	<hr>
	<ul class="nav nav-pills nav-stacked d-block">
		<li class="p-3">
			<a href="#home" title="Home page">Home <i class="fas fa-angle-right"></i></a>
		</li>
		<li class="p-3">
			<a href="#service" title="Home page">Services <i class="fas fa-angle-right"></i></a>
		</li>
		<li class="p-3">
			<a href="#works" title="Home page">Works <i class="fas fa-angle-right"></i></a>
		</li>
		<li class="p-3">
			<a href="#about" title="Home page">About Us <i class="fas fa-angle-right"></i></a>
		</li>
		<li class="p-3">
			<a href="#clients" title="Home page">Clients <i class="fas fa-angle-right"></i></a>
		</li>
		<li class="p-3">
			<a href="#price" title="Home page">Pricing <i class="fas fa-angle-right"></i></a>
		</li>
		<li class="p-3">
			<a href="#contact" title="Home page">Contact <i class="fas fa-angle-right"></i></a>
		</li>
	</ul>
	<hr>
	<ul class="social">
		<li class="gplus">
			<a href="#"><i class="icon-gplus"></i></a>
		</li>
		<li class="dribbble">
			<a href="#"><i class="icon-dribbble"></i></a>
		</li>
		<li class="twitter">
			<a href="#"><i class="icon-twitter"></i></a>
		</li>
		<li class="facebook">
			<a href="#" class="d-flex justify-content-center align-items-center">
				<i class="fab fa-facebook-f"></i>
			</a>
		</li>
		<li class="youtube">
			<a href="#">
				<i class="icon-youtube"></i>
			</a>
		</li>
		<li class="skype">
			<a href="#">
				<i class="icon-skype"></i>
			</a>
		</li>
	</ul>
</nav>
<!-- /nav sidebar  -->
<!-- nav topbar -->
<div class="navbar navbar-default d-block p-0">
	<div class="navbar-inner d-flex justify-content-between align-items-center">
	  <!-- logo (left) -->
		<a href="#" class="ml-3 p-1">
			<img src="http://via.placeholder.com/75x75" alt="Logo" />
		</a>
		<!-- top nav button (center) -->
		<div class="nav-top">
		  <ul class="nav-top-list d-flex">
		    <li class="nav-top-list-item mx-3 d-flex align-items-center"><a href="#">추천글</a></li>
		    <li class="nav-top-list-item mx-3 d-flex align-items-center"><a href="#">인기글</a></li>
		    <li class="nav-top-list-item mx-3 d-flex align-items-center"><a href="#">최신글</a></li>
		  </ul>
		</div>
		<!-- sidebar button (right)  -->
		<a href="#" id="nav-expander" class="nav-expander my-0">
			<i class="fas fa-bars ml-1"></i>
		</a>
	</div>
</div>
<!--/nav topbar  -->
<!-- /nav layout -->

<%= yield %>

<!-- navigation bar js -->
<script type="text/javascript">
    /*
     * Show or hide offsite navigation.
     *
     */
    $('#nav-expander').on('click', function(e) {
    	e.preventDefault();
    	$('.main-nav').toggleClass('nav-expanded');
    // 	$('.navbar-default').toggleClass('expanded');
    });
    $('.main-nav .close').on('click', function(e) {
    	e.preventDefault();
    	$('.main-nav').toggleClass('nav-expanded');
    // 	$('.navbar-default').toggleClass('expanded');
    });
</script>
<!-- /navigation bar js -->
</body>
</html>
